.Login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e90ff, #00359e);

    .div-container {
        width: 100%;
        height: calc(100vh - 150px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        width: 350px;
        padding: 40px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-align: center;

        h2 {
            margin-bottom: 20px;
            color: #333;
            font-size: 24px;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: left;

            label {
                display: block;
                margin-bottom: 5px;
                color: #333;
                font-weight: bold;
            }

            input[type='text'],
            input[type='password'] {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                transition: border-color 0.3s;

                &:focus {
                    border-color: #1e90ff;
                    outline: none;
                }
            }
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #0057ff;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #003db6;
            }
        }
    }
}
